html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

body {
    margin: 0;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

h2 {
}

.book-cover {
    height: auto;
    width: 200px;
    grid-row-end: span 5
}

main {
    max-width: 800px;
    margin: auto;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
color: dimgray;
}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-template-rows: repeat(5, auto); */
    column-gap: 24px;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}



